.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
.phpunit*
docker-compose.yml
doc/
/plugin/vendor/
composer.phar
*.lock
node_modules/*
*.cache
# bt
.user.ini
404.html

# txt
*.txt

# nohup
nohup.out
